<%- include('../includes/header', {view: 'admin'}); -%>
<h5>Update Company Info</h5>
<section style="text-align: left;">
  <% if (typeof companies != 'undefined') {  
    companies.forEach((company, index) => { %>
      <div>
        <form class="internalCompanyUpdate" action="" data-company-id="<%= company.id %>">
          <div>
            <input id="companyId" type="text" placeholder="<%= company.nameIdentifier %>">
          </div>
          <div>
          <a href="/companies/<%= company.id %>">View chart (<%= company.emailIdentifier %>)</a>
          </td>
          <input type="hidden">
        </form>
        </div>
  <% })} %>
</section>
<script src="../cash-dom/dist/cash.min.js"></script>
<script src="../axios/dist/axios.min.js"></script>
<script>
  $('.internalCompanyUpdate').on('submit', function(e) {
    e.preventDefault();
    console.log('WHAAT', $(e.target).data('company-id'));
    const inputName = $(e.target).find('#companyId').val();
    console.log(inputName);

    axios({
      method: 'post',
      url: `/api/companies/update/${$(e.target).data('company-id')}`,
      data: {
        nameIdentifier: inputName
      }}).then(function (response) {
          $(e.target).find('input[type=text]').val('');
          $(e.target).find('input[type=text]').attr('placeholder', inputName);
         console.log(response);
      }).catch(function (error) {
        console.log(error);
      });
  });
</script> 