<%- include('../includes/header', {view: 'admin'}); -%>
<h5>Live Rankings for current 24hr period</h5>
<div class="rank-table-wrapper">
  <table>
    <th>Rank</th>
    <th>Name</th>
    <th>Email</th>
    <th>Points</th>
  <% rankedUserList.forEach((rankedUser, index) => { %>
  <% const UserData = rankedUser.User.dataValues; %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= UserData.firstName %> <%= UserData.lastName %></td>
    <td><%= UserData.email %></td>
    <td><%= rankedUser.total %></td>
  </tr>
  <% });  %>
</table>
</div>


<h5>Generate finalised winners</h5>
<div class="select-rankings-end-date">
  <input type="date" name="end-date-picker">
  <label for="end-date-picker">Select to the end of which day (PST) to generate winners</label>

  <br>
  <button class="generate-rankings">
    Generate Latest Rankings
  </button>
</div>

<div class="results">

</div>

<!-- Add button when clicked, reuturns date of ranked users for that day -->
<!-- render results in a div on the page -->
<script src="../cash-dom/dist/cash.min.js"></script>
<script src="../axios/dist/axios.min.js"></script>

<script>
  $('.generate-rankings').on('click touch', function() {
    const endDateFromUI = $('input[type="date"]').val();
    axios({
      method: 'put',
      url: `/api/winners/`,
      data: { endDate: endDateFromUI }
      }).then(function (response) {
          console.log(response);
          let resultContainer = ``;
          response.data.forEach(result => {
            resultContainer += `
              <li>${result.User.firstName} | ${result.total}</li>
            `
            $('.results').html(resultContainer);
          });

      }).catch(function (error) {
        console.log(error);
      });
  })

  $('input[type="date"]').on('change', function(e) {
    let basicDate = $(e.target).val();
    console.log('looking up', basicDate);
  })
</script>
