

<%- include('./includes/header'); -%>
  <br />
  <% if (company) { %> 
  <h2><%= company.nameIdentifier %></h2>
  <!-- TODO: make the below admin-only -->
  <ul style="list-style: none; display: flex; justify-content: center;">
    <li><strong>&nbsp;email:</strong> <%= company.emailIdentifier %></li>&nbsp;|
    <li><strong>&nbsp;prefix:</strong> <%= company.orderPrefix %></li>&nbsp;| 
    <li><strong>&nbsp;added to DB:</strong> <%= company.createdAt %></li>&nbsp;
  </ul>
  <% } else { %>
    <p>No company found :(</p>
  <% } %>

  <script>
  window.chartData = <%- JSON.stringify(orders) %>
  </script>


<canvas id="myChart" width="400" height="200"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

<script>
  console.log(typeof(chartData));

    // let transformData = window.chartData.forEach((order, index) => {
    //   let compareNumber = 0;
    //   console.log(`well ${index} and ${order.y}`);
    //   if (index == 0) { 
    //     compareNumber = order.y;
    //     order.y = order.y/365;
    //     return false
    //    } else {
    //     console.log(compareNumber);
    //     let nextCompareNumber = order.y;
    //     order.y = order.y - compareNumber;
    //     compareNumber = nextCompareNumber;
    //   }
    // });

    let ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line', 
        data: {
            datasets: [{
                label: 'Order numbers',
                data: window.chartData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                  type: 'time',
                  time: {
                    unit: 'day'
                  }
                }]
            }
        }
    });
</script>
  
  <%- include('./includes/footer'); -%>
