<%- include('./includes/header'); -%>

<section class="dashboard-wrapper">
  <% if (company) { %> 

    <%- include('./includes/dashboard_top'); -%>
    <canvas id="myChart" class="chart-orders"></canvas>    
    <!-- Transform chart data on server then serve via window -->
    <!-- Currently calculates the numerical difference between the two order numbers -->
    <script>
      window.newData = <%- JSON.stringify(orders) %>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

  <% } else { %>
    <p>No company found :(</p>
  <% } %>

<ul class="quick-data">
  <li><strong>&nbsp;email:</strong> <%= company.emailIdentifier %></li>&nbsp;|
  <li><strong>&nbsp;prefix:</strong> <%= company.orderPrefix %></li>&nbsp;| 
  <li><strong>&nbsp;added to DB:</strong> <%= company.createdAt %></li>&nbsp;
</ul>

</section>

<!--  resolve promise each iteration and use promise.all to resolve all and continue!! -->
<script>
  try {
    // note if NODE_ENV is 'production' EJS is cached and needs server restart to see changes
    let setAspectRatio = 2.5;
    let timeStepSize = 5
    if (window.innerWidth < 600) {
      setAspectRatio = 1.5,
      timeStepSize = 8
    }

    let ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Avg orders',
                data: window.newData,
                steppedLine: true,
                backgroundColor: [
                    'rgba(216, 216, 216, 0.3)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0.9)',
                ],
                borderWidth: 2,
                borderCapStyle: 'round'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }],
                xAxes: [{
                  type: 'time',
                  distribution: 'linear',
                  time: {
                    unit: 'month',
                    stepSize: timeStepSize
                  }
                }]
            },
            cubicInterpolationMode: 'monotone',
            responsive: true,
            aspectRatio: setAspectRatio
        }
    });
  } catch(err) {
    console.log('no company data');
  }
</script>
  
<%- include('./includes/footer'); -%>