<%- include('./includes/header'); -%>


  <section class="section-full-width index-hero">
    <div class="max-width-wrapper">
      <div class="index-hero-left">
        <h1>Share your eCommerce Data and <span class="text-highlight">Earn Cash</span></h1>
      </div>


      <div class="index-hero-right">
        <%- include('./includes/bounty_list_item'); -%>
        <%- include('./includes/bounty_list_item'); -%>
        <%- include('./includes/bounty_list_item'); -%>
      </div>
    </div>
  </section>
  
  <%- include('./includes/footer'); -%>
