<%- include('./includes/header'); -%>


  <section class="index-hero section-full-width">
    <div class="max-width-wrapper">
      <div class="index-hero-left">
        <h1>Share your eCommerce Data and <span class="text-highlight">Earn Cash</span></h1>
      </div>


      <div class="index-hero-right">
        <%- include('./includes/bounty_list_item'); -%>
        <%- include('./includes/bounty_list_item'); -%>
        <%- include('./includes/bounty_list_item'); -%>
      </div>
    </div>
  </section>

  <section class="your-data-your-profit section-full-width">
    <div class="max-width-wrapper">
      <div class="your-data-your-profit-left">
        <h1>Your data. <br /> Your profit.</h1>
      </div>


      <div class="your-data-your-profit-right">
        <p>
          Companies like Facebook, Google, and VISA make billions selling <strong>YOUR</strong> data. 
        </p>
        <p>Let’s change that.</p>
      </div>
    </div>
  </section>
  
  <%- include('./includes/footer'); -%>
